@font-face { font-family: Playfair; src: url('Fonts/Playfair/PlayfairDisplay-Regular.otf'); }
@font-face { font-family: Proxima; src: url('Fonts/Proxima/Proxima Nova Alt Light.otf'); }
@font-face { font-family: Avenir; src: url('Fonts/Avenir/AvenirLTStd-Book.otf'); }
@font-face { font-family: HelveticaNeueLight; src: url('Fonts/Helvetica/HelveticaNeue-Light.otf'); }
@font-face { font-family: HelveticaNeue; src: url('Fonts/Helvetica/HelveticaNeue.ttc'); }
@font-face { font-family: HelveticaNeueUltraLight; src: url('Fonts/Helvetica/HelveticaNeue-UltraLight.otf'); }


body{
  margin: 0;
  padding:0;
  height:100vh;
}

#particles-js{
  height:100%;
}

.mainHeader{
  font-family: HelveticaNeueLight;
  font-size: 3.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

.underText{
  font-size:20;
}

.head{
   font-family: HelveticaNeueLight;
   font-size: 3.5em;
}

.bodyElement{
    width: 92%;
    margin: 0 auto;
}

.header{
    font-family: Playfair;
    font-size:2.5em;
}

.underline{
    font-family: HelveticaNeueLight;
    opacity: 50%;
    font-size: 0.9em;
    line-height: 1.5;
}

.bodyText{
    width:100%;
    font-family: HelveticaNeue;
    font-size: 1.0em;
    line-height: 1.16;
}


/*iPad*/
@media only screen and (min-width: 768px){
    .bodyText{
        width:100%;
        font-family: HelveticaNeueLight;
        font-size: 1.1em;
        line-height: 1.3;
    }

    .mainHeader{
      font-family: HelveticaNeueLight;
      font-size: 8.0em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}



/*iPad Pro*/
@media only screen and (min-width: 1000px){
    .bodyText{
        width:100%;
        font-family: HelveticaNeueLight;
        font-size: 1.1em;
        line-height: 1.3;
    }

    .mainHeader{
      font-family: HelveticaNeueLight;
      font-size: 9.0em;
      text-align:center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

/*Laptops/Monitors*/
@media only screen and (min-width: 1025px){
    .bodyText{
        width:100%;
        font-family: HelveticaNeueLight;
        font-size: 1.1em;
        line-height: 1.3;
    }

    .mainHeader{
      font-family: HelveticaNeueLight;
      font-size: 9.0em;
      width:50%;
      text-align:center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

}
